@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #4492ff;
  --dark-blue: #2f21ff;
  --darkest-blue: #1c2265;
  --black: #000;
  --yellow: #dfa53a;
}

a {
  text-decoration: none;
}

ul {
  padding: 0px;
  margin: 0;
}

ul li {
  list-style: none;
}

section {
  padding: 50px 0px;
}

.section-head .heading {
  text-align: center;
  color: var(--black);
  margin-bottom: 50px;
  font-weight: 600;
  position: relative;
}

.section-head .heading::after {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 47%;
  height: 4px;
  width: 6%;
  background-color: var(--darkest-blue);
}

@media screen and (max-width: 767px) {
  section {
    padding: 20px 0px;
  }

  .section-head .heading {
    margin-bottom: 20px;
  }
  .section-head .heading::after {
    left: 40%;
    height: 2px;
    width: 20%;
    background-color: var(--dark-blue);
  }
}

/* button */

.web-btn a {
  background: var(--black);
  color: #fff;
  font-weight: 500;
  padding: 10px 20px;
  transition: 0.5s ease-in-out;
}

.web-btn a:hover {
  background: #fff;
  color: var(--black);
  border: 1px solid #000;
  transition: 0.5s ease-in-out;
}

/* button */

/* custom css start here */
.logo {
  width: 100px;
  height: 100%;
}

/* banner css start */

.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-banner {
  position: relative;
}


.nav-bar .navbar {
  position: absolute;
  padding: 0px 0px;
  top: 0;
  width: 100%;
  z-index: 999;
}

.nav-bar .navbar .image {
  height: 80px;
  filter: drop-shadow(rgba(255, 255, 255, 0.966) 0px 5px 15px);
}
@media screen and (max-width: 767px) {
  .nav-bar .navbar .image {
    height: 50px;
  }
}

.fixedbg {
  position: fixed !important;
  top: 0;
  width: 100%;
  background-color: #fff ;
  z-index: 99999;
  transition: background-color 0.3s ease;
}
/* ----------------------- slidebar css start here ---------------------- */
.slide-navbar {
  position: fixed;
  top: 0;
  z-index: 99999;
  right: 0;
  height: 100vh;
  backdrop-filter: blur(7px);
  background: linear-gradient(to right, #000000de,#000000ca,rgba(19, 18, 18, 0.662)) !important;
  width: 30%;
  /* overflow: hidden; */
  transform: translateX(800px);
  transition: 0.4s ease-in-out;
}
.toggler-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.toggler-icon i {
  cursor: pointer;
  font-size: 28px;
  color: #fff;
}
.slide-navbar .close {
  display: flex;
  justify-content: end;
 
}

.slide-navbar .close h3 {
  font-size: 24px;
  font-weight: 800;
  cursor: pointer;
  color: #fff; 
}


.slide-navbar .items .nav-items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.slide-navbar .items .nav-items .nav-item .nav-link {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  padding: 5px 0px; 
}

.slide-navbar .items .web-btn {
  margin-top: 20px;
}

.slide-navbar .items .web-btn a {
  display: block;
  text-align: center;
  background: var(--dark-blue);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 10px;
}

/* css for products dropdown */
.slide-navbar .items .nav-items .nav-products ul li a {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.slide-navbar .items .nav-items .nav-products ul li:hover {
  background: none;
}
.slide-navbar .items .nav-items .nav-products ul li:hover a {
  color: #16219a;
}
.slide-navbar .items .nav-items .nav-products {
  display: none;
  background: var(--yellow);
  padding: 10px 0px;
}
.slide-navbar .items .nav-items .view-product-list {
  position: relative;
}
.slide-navbar .items .nav-items .view-product-list .nav-products {
  position: absolute;
  right: 102%;
  top: -80%;
}
.slide-navbar .items .nav-items .view-product-list .nav-products::after {
  content: " ";
  height: 50px;
  width: 50px;
  background-color: var(--yellow);
  position: absolute;
  right: 0;
  top: 38%;
  transform: rotate(45deg);
  z-index: -1;
}

.slide-navbar .items .nav-items .view-product-list:hover .nav-products {
  display: block;
  transition: 1s ease-in-out;
  background: var(--yellow);
}

/* responsive */
@media screen and (max-width: 767px) {
  .slide-navbar .items .nav-items .nav-products ul li a {
    font-size: 16px;
    font-weight: 500;
  }
  .slide-navbar .items .nav-items .view-product-list .nav-products {
    position: static;
  }
  .slide-navbar .items .nav-items .view-product-list .nav-products::after {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .slide-navbar .items .nav-items .nav-products ul li a {
    font-size: 14px;
    font-weight: 400;
  }
}
/* responsive */

/* end of css for products dropdown */

/* reponsive slide-navbar */
@media screen and (max-width: 991px) {
  .slide-navbar {
    width: 50%;
    height: 100%;
  }
  .slide-navbar .close h3 {
    margin: 20px 10px 0px 0px;
    font-size: 32px;
  }
}
@media screen and (max-width: 767px) {
  .slide-navbar {
    width: 60%;
    height: 100%;
  }

  .slide-navbar .close h3 {
    margin: 12px 10px 0px 0px;
  }
}
@media screen and (max-width: 410px) {
  .slide-navbar .items .web-btn a {
    font-size: 16px;
    font-weight: 200;
    padding: 2px 5px;
  }
}

@media screen and (max-height: 400px) {
  .slide-navbar .items .nav-items {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .slide-navbar .items .nav-items .nav-item .nav-link {
    font-size: 16px;
  }
  .slide-navbar .items .web-btn a {
    font-size: 16px;
  }
  .slide-navbar {
    top: 2%;
    right: 0;
    height: 80%;
    width: 80%;
  }
}
/* end of reponsive slide-navbar */

/* -------------------- end of slidebar css ------------------ */

.banner .banner-video {
  position: relative;
  overflow: hidden;
}
.banner .banner-video .introvideo {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-size: contain;
  min-height: -webkit-fill-available;
  object-fit: cover;
}

.banner .banner-video .overlay-vid {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  padding: 0px 0px 300px 50px;
  align-items: end;
  /* background: linear-gradient(to left, #000000dc, #0000000c); */
}

.banner .banner-video .overlay-vid h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

/* responsive css */
@media screen and (max-width: 1120px) {
  .banner .banner-video .overlay-vid {
    bottom: 0%;
    left: 0%;
    width: 100%;
    padding: 0px 0px 100px 50px;
  }
}
@media screen and (max-width: 991px) {
  .banner .banner-video .overlay-vid {
    bottom: 0%;
    left: 0%;
    width: 100%;
    padding: 0px 0px 50px 50px;
  }
  .banner .banner-video .overlay-vid h1 {
    color: #fff;
    font-size: 26px;
    font-weight: 500;
  }
}

@media screen and (max-width: 767px) {
  .nav-bar .navbar {
    position: static;
  }
  .toggler-icon i {
    font-size: 28px;
    color: #000;
  }
  .banner .banner-video .overlay-vid {
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 0px 0px 30px 20px;
  }

  .banner .banner-video .overlay-vid h1 {
    color: #fff;
    font-size: 18px;
  }
}

@media screen and (max-width: 460px) {
  .banner .banner-video .overlay-vid {
    padding: 0px 0px 20px 10px;
  }
  .banner .banner-video .overlay-vid h1 {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
}

/* end of responsive */
/* ----------- end of banner css ----------- */

/* about us css start */
/* .about-us {
  background: linear-gradient( to right, rgba(255, 255, 255, 0.878), rgba(0, 0, 0, 0.459)), url(../img/about-us/aboutusbg1.jpg) no-repeat center center/cover;
  margin-top: 10px;
} */

.about-us .about-img {
  position: relative;
  overflow: hidden;
}

.about-us .about-img .about-back-img {
  position: relative;
}

.about-us .about-img .about-back-img img {
  height: 450px;
  padding-right: 150px;
}

.about-us .about-img .about-front-img {
  position: absolute;
  top: 40%;
  left: 50%;
}

.about-us .about-img .about-front-img img {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

.about-us .about-img .about-img-text {
  background: #1c2265;
  padding: 15px 20px;
  border-radius: 10px;
  position: absolute;
  left: 80%;
  top: 12%;
}

.about-us .about-text .about-text-head {
  color: var(--darkest-blue);
  margin-bottom: 20px;
}

.about-us .about-text .about-text-head h3 {
  font-size: 35px;
}

.about-us .about-text .about-text-body {
  text-align: justify;
  line-height: 1.8;
  color: var(--black);
}

/* responsive css */
@media screen and (max-width: 1120px) {
  .about-us .about-img .about-back-img img {
    object-fit: cover;
    padding-right: 80px;
  }

  .about-us .about-img .about-front-img {
    position: absolute;
    object-fit: cover;
    top: 50%;
    left: 50%;
  }

  .about-us .about-img .about-img-text {
    position: absolute;
    left: 70%;
    top: 15%;
  }
}

@media screen and (max-width: 991px) {
  .about-us .about-img {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  /* .about-us {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.985),
        rgba(0, 0, 0, 0.459)
      ),
      url(../img/about-us/aboutusbg1.jpg) no-repeat center center/cover;
  } */

  .about-us .about-img .about-back-img img {
    height: 100%;
    padding-right: 0px;
    margin-bottom: 10px;
  }

  .about-us .about-img .about-front-img {
    position: relative;
    top: 0%;
    left: 0%;
  }

  .about-us .about-img .about-front-img img {
    padding: 0px;
    border-radius: 0px;
  }

  .about-us .about-img .about-img-text {
    position: absolute;
    left: 70%;
    top: 22%;
    padding: 15px 20px;
  }

  .about-us .about-text .about-text-head {
    color: #37327d;
    margin-bottom: 10px;
  }

  .about-us .about-text .about-text-head h3 {
    font-size: 20px;
  }

  .about-us .about-text .about-text-body {
    text-align: justify;
    line-height: 1.2;
  }
}

@media screen and (max-width: 460px) {
  .about-us .about-img .about-img-text {
    position: absolute;
    left: 60%;
    top: 20%;
  }
}

/* end of responsive */
/* --------------------------------- end of about us css ----------------------------- */
/* 
!!!
!!!
!!!
 */

/* industry-we-serve css start */

.we-serve-industries .serve-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.we-serve-industries .serve-left ul {
  width: 100%;
}

.we-serve-industries .serve-left .nav {
  display: block;
  border: none;
}
.we-serve-industries .serve-left .nav-tabs .nav-link {
  padding: 0px;
  color: #000;
  cursor: pointer;
  border: none;
  margin-bottom: 0px;
  font-size: 20px;
  background: none;
  padding: 5px 10px;
}

.we-serve-industries .serve-left .nav-tabs .nav-link.active {
  background-color: #000000d1;
  border-radius: 0px;

  color: #fff;
}

.we-serve-industries .serve-left hr {
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--darkest-blue);
  height: 1px;
}

.we-serve-industries .tab-content {
  display: flex;
  align-items: center;
  height: 100%;
}

.we-serve-industries .serve-right {
  position: relative;
  overflow: hidden;
}
.we-serve-industries .serve-right .serve-img {
  position: relative;
  height: 100%;
}

.we-serve-industries .serve-right .serve-text {
  position: absolute;
  right: 0;
  bottom: 20%;
  background: #fff;
  color: #000;
  padding: 20px 10px;
}
.we-serve-industries .serve-right .serve-text h3 {
  color: var(--darkest-blue);
}

/* responsive industry-we-serve */
@media screen and (max-width: 991px) {
  .we-serve-industries .serve-left {
    justify-content: left;
  }
  .we-serve-industries .serve-left hr {
    margin-top: 2px;
    margin-bottom: 10px;
  }
  .we-serve-industries .serve-right .serve-text {
    bottom: 10%;
    padding: 10px 5px;
  }
  .we-serve-industries .serve-right .serve-text h3 {
    font-size: 20px;
    margin: 5px;
  }
  .we-serve-industries .serve-right .serve-text p {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .we-serve-industries .serve-left {
    justify-content: left;
  }

  .we-serve-industries .serve-right .serve-text {
    bottom: 10%;
    padding: 10px 5px;
  }
  .we-serve-industries .serve-right .serve-text h3 {
    font-size: 18px;
    margin: 0px;
  }
  .we-serve-industries .serve-right .serve-text p {
    display: none;
  }
}
/* end of responsive industry-we-serve */

/* --------------- end of industry-we-serve css ---------------- */

/* product css start */

/* --------------- desktop-product css start --------------------*/

/* code for wave */
.desktop-product {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop-product .wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c0b6b66d;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.desktop-product .wave span {
  content: "";
  position: absolute;
  width: 385vh;
  height: 425vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #ffffff;
}

.desktop-product .wave span:nth-child(1) {
  border-radius: 45%;
  background: rgb(255, 255, 255);
  animation: animate 25s linear infinite;
}

.desktop-product .wave span:nth-child(2) {
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.5);
  animation: animate 25s linear infinite;
}

.desktop-product .wave span:nth-child(3) {
  border-radius: 42.5%;
  background: rgba(255, 255, 255, 0.5);
  animation: animate 25s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
/* end of code for wave */

.desktop-product .desktop-product-card {
  margin-bottom: 20px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.desktop-product .desktop-product-card::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(#000000c6, #0000000f, #0000000f, #0000000f);
}
.desktop-product .desktop-product-card .desktop-product-img {
  position: relative;
  transition: 0.8s ease-in-out;
}

.desktop-product .desktop-product-card .desktop-product-text {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  padding: 0px 10px;
  opacity: 0;
  transition: 0.8s ease-in-out;
  background: linear-gradient(rgba(0, 0, 0, 0.715), rgba(0, 0, 0, 0.718));
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.desktop-product .desktop-product-card:hover .desktop-product-text {
  bottom: 0%;
  opacity: 1;
  transition: 0.8s ease-in-out;
}
.desktop-product .desktop-product-card:hover .desktop-product-img {
  transform: scale(1.3);
  transition: 0.8s ease-in-out;
}
.desktop-product .desktop-product-card .desktop-product-text h3 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  color: #ffffff;
  margin-bottom: 20px;
}
.desktop-product .desktop-product-card .desktop-product-text h3::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 30%;
  height: 2px;
  width: 40%;
  background-color: var(--light-blue);
}
.desktop-product .desktop-product-card .desktop-product-text p {
  color: #fff;
  text-align: center;
}

.desktop-product-btn button {
  border: none;
  outline: none;
}

.desktop-product-btn button {
  background: #ffffff49;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
}

/* responsive css */

@media screen and (max-width: 1200px) {
  .desktop-product .desktop-product-card .desktop-product-text h3 {
    font-size: 26px;
    margin-bottom: 15px;
  }
  .desktop-product .desktop-product-card .desktop-product-text p {
    line-height: 1.2;
  }
  .desktop-product .desktop-product-card .desktop-product-text h3::after {
    bottom: -6px;
  }
  .desktop-product-btn button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
@media screen and (max-width: 991px) {
  .desktop-product .desktop-product-card .desktop-product-text h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .desktop-product .desktop-product-card .desktop-product-text p {
    line-height: 1.8;
  }
  .desktop-product .desktop-product-card .desktop-product-text h3::after {
    bottom: -8px;
  }
  .desktop-product-btn button {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 767px) {
  .desktop-product {
    display: none;
  }
}
/* end of responsive css */

/* --------------------------- end of desktop-product css ------------------------------ */

/* --------------------------- mobile product css start ---------------------------------- */
.mobile-product .mobile-product-card {
  position: relative;
  overflow: hidden;
}

.mobile-product .mobile-product-card .mobile-product-img {
  position: relative;
}

.mobile-product .mobile-product-card .mobile-product-text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0%;
  padding: 5px 5px;
  background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.652));
  backdrop-filter: blur(15px);
}
/* responsive css start */

@media screen and (min-width: 767px) {
  .mobile-product {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-product .mobile-product-card .mobile-product-text h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0px;
  }

  .mobile-product .mobile-product-card .mobile-product-text {
    padding: 10px 5px;
  }
}

@media screen and (max-width: 460px) {
  .mobile-product .mobile-product-card .mobile-product-text h3 {
    font-size: 18px;
  }
}

/* end of responsive css */
/* --------------------------- end of mobile product css ---------------------------------- */

/* end of product css */

/* --------------------- clients css start --------------------- */

.our-clients .swiper .swiper-wrapper .swiper-slide .client {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* --------------------- end of client css ----------------------- */

/* ------ blogs css start ------- */

.blogs .blog-card {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 10px;
  margin-bottom: 10px;
}

.blogs .blog-card .blog-card-img {
  margin-bottom: 20px;
}

.blogs .blog-card .blog-card-img img {
  width: 100%;
}

.blogs .blog-card .blog-card-text .text-1,
.text-2 {
  color: var(--darkest-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blogs .blog-card .blog-card-text .text-3 {
  color: var(--black);
  font-size: 14px;
  margin-bottom: 10px;
}

.blogs .blog-card .blog-card-text p {
  margin: 0px;
}

.blogs .blog-card .blog-card-text .text-1 p {
  color: var(--darkest-blue);
  font-size: 16px;
}
.blogs .blog-card .blog-card-text .text-1 i {
  margin-right: 5px;
}

.blogs .blog-card .blog-card-text .text-2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.blogs .blog-card .blog-card-text .text-1 span {
  background-color: var(--darkest-blue);
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
}

.blogs .blog-card .blog-card-text span {
  color: var(--darkest-blue);
}

.blogs .blog-card .blog-card-text .text-2 span {
  transition: 0.3s ease-in-out;
}

.blogs .blog-card:hover .blog-card-text .text-2 span {
  color: var(--dark-blue);
  transition: 0.3s ease-in-out;
}

.blogs .blog-card {
  position: relative;
}

.blogs .blog-card::after {
  content: "";
  position: absolute;
  bottom: 2%;
  left: 0;
  border: 1px solid var(--darkest-blue);
  width: 0%;
  transition: 0.5s ease-in-out;
  opacity: 0;
}

.blogs .blog-card:hover::after {
  content: "";
  position: absolute;
  border: 1px solid var(--darkest-blue);
  width: 100%;
  /* margin: 30px 0px; */
  opacity: 1;
}

.blogs .more-blogs {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

/* blog responsive css */
@media screen and (max-width: 991px) {
  .blogs .blog-card {
    margin-bottom: 20px;
  }
  .blogs .blog-card .blog-card-img {
    margin-bottom: 5px;
  }

  .blogs .blog-card .blog-card-text .text-2 {
    font-size: 16px;
  }

  .blogs .blog-card {
    padding: 10px;
  }
}

@media screen and (max-width: 767px) {
  .blogs .blog-card .blog-card-img {
    margin-bottom: 5px;
  }

  .blogs .blog-card .blog-card-text .text-2 {
    font-size: 14px;
  }
  .blogs .blog-card .blog-card-text .text-3 {
    font-size: 12px;
  }
  .blogs .more-blogs {
    justify-content: center;
    margin-top: 0px;
  }
}

/* end of blog responsive css */

/* -------------------------- end of blog css ----------------------------- */

/* ------------ our videos css start ----------- */
.our-videos .video-card .video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.714);
  margin-bottom: 20px;
}
.our-videos .video-card .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.our-videos .video-card .video-content {
  padding: 0px 10px;
}
.our-videos .video-card .video-content p {
  color: #252424c0;
  margin-bottom: 0px;
}
.our-videos .video-card .video-content .content-top {
  color: red;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}
.our-videos .video-card .video-content h3 {
  font-size: 24px;
}

/* responsive css */
@media screen and (max-width: 1120px) {
  .our-videos .video-card .video-content h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 991px) {
  .our-videos .right-side .video-card {
    margin-top: 28px;
  }
}

@media screen and (max-width: 767px) {
  .our-videos .video-card .video-wrapper {
    margin-bottom: 10px;
  }
  .our-videos .video-card .video-content .content-top {
    font-size: 14px;
  }
  .our-videos .video-card .video-content h3 {
    font-size: 16px;
  }
  .our-videos .video-card .video-content p {
    font: 12px;
    text-align: justify;
  }
}

/* end of responsive */

/* -------------- end of our videos css -------------- */

/* ------------ FAQ's section css start --------------- */

.faq .accordion .accordion-item .accordion-body p {
  color: var(--black);
}

.faq .accordion .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: none;
}

.faq .accordion .accordion-item .accordion-header .accordion-button {
  color: #000;
  font-size: 18px;
  transition: 0.5s ease-in-out;
}
.faq .accordion .accordion-item .accordion-body p {
  font-size: 16px;
}

.faq
  .accordion
  .accordion-item
  .accordion-header
  .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: var(--darkest-blue);
}

.faq .accordion .accordion-item .accordion-header .accordion-button::after {
  flex-shrink: 0;
  width: 2.25rem;
  height: 2.25rem;
  margin-left: auto;
  content: "+";
  font-size: 2rem;
  background-image: none;
  background-repeat: no-repeat;
  background-size: 2.25rem;
  transition: transform 0.2s ease-in-out;
}

.faq
  .accordion
  .accordion-item
  .accordion-header
  .accordion-button:not(.collapsed)::after {
  content: "-";
  font-size: 2rem;
  /* Same size for consistency */
  color: white;
  background-image: none;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

/* responsive css start */
@media screen and (max-width: 981px) {
  .faq .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 16px;
    padding: 15px;
  }
  .faq .accordion .accordion-item .accordion-body {
    padding: 15px;
  }
  .faq .accordion .accordion-item .accordion-body p {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 767px) {
  .faq .accordion .accordion-item .accordion-header .accordion-button {
    padding: 10px;
    font-size: 14px;
  }

  .faq .accordion .accordion-item .accordion-body {
    padding: 10px;
  }
  .faq .accordion .accordion-item .accordion-body p {
    font-size: 12px;
  }
}

/* responsive css end */

/* --------------------- end of FAQ's section css ----------------------- */

/* ------------------- contact us css start ------------------- */

.contact-us .any-query {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  height: 100%;
}
.contact-us .any-query h3 {
  color: var(--black);
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 20px;
}

.contact-us .any-query ul li {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
  padding: 20px 0px;
  border-bottom: 1px solid rgb(224, 217, 217);
}

.contactus-home .any-query ul li a {
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
}

.contact-us .any-query .icon a {
  font-size: 40px;
}

.contact-us .any-query h4 {
  font-size: 22px;
  font-weight: 600;
}

.contactus-home .contact-form {
  background: var(--darkest-blue);
  backdrop-filter: blur(15px);
  padding: 40px;
  border-radius: 10px;
}

.contact-us .contact-form .contact-form-heading {
  text-align: center;
  color: #fff;
}

.contact-us .contact-form .contact-form-heading p {
  margin-bottom: 10px;
  font-weight: 600;
}

.contact-us .contact-form .contact-form-heading h3 {
  font-size: 40px;
  margin-bottom: 20px;
}

.contact-us .contact-form .form-control {
  background-color: transparent;
  font-size: 16px;
  padding: 5px 5px !important;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0px;
  color: #fff !important;
}

.contact-us .contact-form .form-control:focus {
  color: #fff;
  box-shadow: none;
  border-color: #fff;
  background-color: transparent;
}

.contact-us .contact-form .form-control::placeholder {
  color: #fff;
}

.form-btn button {
  background: var(--black);
  color: #fff;
  padding: 10px 20px;
  border: none;
  text-align: center;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}
.form-btn button:hover {
  background: #fff;
  color: var(--black);
  transition: 0.5s ease-in-out;
}

/* ------------------------- captcha css start ------------------- */

.captchasep1 {
  display: flex;
}
.contact-us .contact-form .captchasep1 .form-floating label {
  color: #fff;
}

.contact-us .contact-form .captchasep1 .form-floating .form-control {
  padding-top: 1.625rem !important;
  padding-bottom: 0.625rem !important;
  color: #fff;
}

.captchasep1 input {
  width: 100% !important;
  height: 40px;
}

.captchasep1 .captcha-codes-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  border-radius: 5px;
  background: url(../img/logo/captcha-bg.jpg);
}

.captchasep1 .captcha-codes-sec p {
  letter-spacing: 9px;
  font-style: italic;
  font-size: 32px;
  font-weight: 800;
  padding: 5px;
  height: 100%;
  color: #fff;
}

.captchasep1 .captcha-codes-sec {
  margin-bottom: 10px;
}

.captchasep1 .captcha-codes-sec button {
  font-style: italic;
  font-size: 22px;
  outline: none;
  height: 100%;
  border: none;
  background: none;
}

.captchasep1 .captcha-codes-sec button i {
  background: var(--dark-blue);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

/* responsive captcha */
@media screen and (max-width: 767px) {
  .captchasep1 .captcha-codes-sec p {
    letter-spacing: 2px;
    font-size: 18px;
    width: 60% !important;
  }

  .captchasep1 .captcha-codes-sec button {
    font-size: 12px;
  }

  .contact-form .captchasep1 .form-floating label {
    font-size: 14px;
    padding: 5px;
  }

  .form-floating .form-control,
  .form-floating .form-select {
    height: 2.5rem;
    line-height: 1.25;
  }
}

/* end of responsive captcha */

/* ------------------------- end of captcha css ------------------ */

/* contact us responsive css  */
@media screen and (max-width: 767px) {
  .contact-us .any-query h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .contact-us .any-query ul li {
    gap: 20px;
    margin-bottom: 10px;
    padding: 10px 0px;
  }

  .contact-us .any-query .icon a {
    font-size: 20px;
  }

  .contact-us .any-query h4 {
    font-size: 16px;
  }

  .contact-us .any-query .contact-number a {
    font-size: 16px;
  }

  .contact-us .any-query .mail a {
    font-size: 16px;
  }

  .contact-us .any-query .location a {
    font-size: 16px;
  }

  .contact-us .contact-form {
    padding: 20px;
  }

  .contact-us .contact-form .contact-form-heading p {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
  }

  .contact-us .contact-form .contact-form-heading h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

/* end of contact us responsive */

/* -------------------------  end of contact us css ------------------------- */

/* footer css start */

.footer {
  background-color: #000;
  padding: 50px 0px;
}
.footer .part-1 {
  padding-right: 20px;
}
.footer .part-1 .footer-logo {
  width: 200px;
  height: 100%;
  box-shadow: rgba(255, 255, 255, 0.912) 3px 3px 15px;
  margin-bottom: 20px;
}
.footer .part-1 .footer-about-text p {
  color: #fff;
  line-height: 1.2;
  text-align: justify;
  margin-bottom: 30px;
}
.footer .part-1 .footer-icons h3 {
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.footer .part-1 .footer-icons .social-icons ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.footer .part-1 .footer-icons .social-icons ul li {
  border-radius: 50%;
  padding: 8px 15px;
  background: #fff;
}
.footer .part-1 .footer-icons .social-icons ul li a {
  color: var(--darkest-blue);
  font-size: 24px;
}
.footer .part-2 {
  padding-left: 20px;
}
.footer .part-2 .part-2-head h3 {
  margin-bottom: 0px;
}
.footer .part-2 .part-2-head {
  color: #fff;
  padding-top: 70px;
  margin-bottom: 14px;
}
.footer .part-2 .products-list ul {
  display: flex;
  flex-direction: column;
}
.footer .part-2 .products-list ul li {
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
}
.footer .part-2 .products-list ul li:hover {
  letter-spacing: 1.5px;
  transition: 0.3s ease-in-out;
}

.footer .part-2 .products-list ul li a {
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.footer .part-2 .products-list ul li a i {
  margin-right: 15px;
  font-size: 16px;
}

.footer .part-3 {
  padding-left: 20px;
}
.footer .part-3 .part-3-head h3 {
  margin-bottom: 0px;
}
.footer .part-3 .part-3-head {
  color: #fff;
  padding-top: 70px;
  margin-bottom: 14px;
}
.footer .part-3 .footer-map .map {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.footer .part-3 .location {
  color: #fff;
}
.footer .part-3 .location h4 {
  text-align: center;
  position: relative;
  margin-bottom: 15px;
}
.footer .part-3 .location p {
  text-align: center;
}
.footer .part-3 .location h4::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 25%;
  height: 2px;
  width: 50%;
  background-color: #fff;
}

.footer-widget {
  padding: 10px 0px;
  color: #fff;
  background: #0f1341;
}
.footer-widget .widget-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-widget .widget-text p {
  font-size: 14px;
  margin-bottom: 0px;
}

/* responsive footer css start */
@media screen and (max-width: 991px) {
  .footer .part-1 .footer-about-text p {
    line-height: 1.8;
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 20px 0px;
  }
  .footer .part-1 {
    padding-right: 0px;
  }
  .footer .part-1 .footer-logo {
    width: 100px;
    margin-bottom: 10px;
  }

  .footer .part-1 .footer-about-text p {
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .footer .part-1 .footer-icons h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .footer .part-1 .footer-icons .social-icons ul {
    gap: 15px;
  }
  .footer .part-1 .footer-icons .social-icons ul li {
    border-radius: 50%;
    padding: 5px 10px;
  }
  .footer .part-1 .footer-icons .social-icons ul li a {
    font-size: 16px;
  }

  .footer .part-2 {
    padding-left: 0px;
  }

  .footer .part-2 .part-2-head {
    padding-top: 30px;
    margin-bottom: 10px;
  }
  .footer .part-2 .products-list ul li {
    margin-bottom: 10px;
  }

  .footer .part-2 .products-list ul li a {
    font-size: 16px;
  }

  .footer .part-3 {
    padding-left: 0px;
  }

  .footer .part-3 .part-3-head {
    padding-top: 30px;
    margin-bottom: 10px;
  }
  .footer-widget .widget-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .footer-widget .widget-text .t-4-a {
    margin-top: 20px;
  }
}

@media screen and (max-width: 460px) {
  .footer-widget .widget-text p {
    font-size: 10px;
  }
}
/* end of responsive footer css */

/* ------------------------ end of footer css --------------------------- */

/* end of custom css */

/* --------------------------------------------------About US Page CSS---------------------------------------------- */

/* banner css start */
.about-us-banner {
  position: relative;
  overflow: hidden;
  padding: 150px 0px;
  background: linear-gradient(
    to left,
    rgba(31, 17, 228, 0.875),
    rgba(255, 255, 255, 0.147)
  );
}
.about-us-banner .sub-banner-heading {
  position: relative;
}
.about-us-banner .sub-banner-heading .banner-text {
  position: absolute;
  top: 10%;
  right: 20%;
}

.about-us-banner .sub-banner-heading .banner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.about-us-banner .sub-banner-heading .banner-text h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-banner .sub-banner-heading .banner-text h2,
.banner-text h3 {
  font-size: 18px;
  color: #fff;
  font-weight: lighter;
}
/* banner css end */

/* aboutus css start */

.aboutuspage-about-us p {
  font-size: 18px;
}

.aboutuspage-about-us .left-side-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.aboutuspage-about-us .left-side-text h2 {
  font-size: 14px;
  color: var(--blue);
  margin-bottom: 20px;
}

.aboutuspage-about-us .about-text {
  text-align: justify;
  margin-top: 20px;
}
/* aboutus css end */

/* project method css start */

.project-method .project-method-card {
  height: 220px;
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.project-method .project-method-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}
.project-method .project-method-card h4 {
  color: var(--darkest-blue);
  font-size: 30px;
}
.project-method .project-method-card p {
  margin: 0px;
}
/* project method css end */

/* mission vision css */
.mission-vision {
  text-align: justify;
}
.mission-vision h2 {
  font-size: 22px;
  color: var(--light-blue);
}

.mission-vision .our-mission {
  padding: 0px 20px;
}
.mission-vision .our-vision {
  padding: 0px 20px;
}

.aboutus-main hr {
  margin: 0px;
}
/* misssion vision css end */

/* responsive css start  */
@media screen and (max-width: 1200px) {
  .project-method .project-method-card {
    height: 260px;
  }
}

@media screen and (max-width: 991px) {
  .project-method .project-method-card {
    margin: 0px;
    margin-bottom: 20px;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .about-us-banner {
    padding: 80px 0px;
  }

  .aboutuspage-about-us p {
    font-size: 16px;
  }
  .aboutuspage-about-us .left-side-text h2 {
    font-size: 14px;
    color: var(--blue);
    margin-bottom: 10px;
  }
  .project-method .project-method-card {
    margin: 0px;
    margin-bottom: 15px;
    height: auto;
  }
  .mission-vision .our-mission {
    padding: 0px;
  }
  .mission-vision .our-vision {
    padding: 0px;
  }
}

/* -------------------------------------------------- end of About-US Page CSS---------------------------------------------- */

/* -------------------------------------- blogdetail page css start ------------------------------------ */

.blog-detail .related-blog-text h2 {
  background-color: var(--yellow);
  padding: 5px;
}
.blog-detail .related-blog-text h3 {
  color: var(--dark-blue);
  margin: 30px 0px 10px;
  font-size: 22px;
}
.blog-detail .related-blog-text h3 span {
  margin-right: 10px;
}
.blog-detail .related-blog-text p {
  text-align: justify;
}

/* responsive css start */
@media screen and (max-width: 991px) {
  .blog-detail .related-blog-img {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .blog-detail .related-blog-text h2 {
    font-size: 18px;
  }
  .blog-detail .related-blog-text p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .blog-detail .related-blog-text h3 {
    font-size: 18px;
    margin: 20px 0px 5px;
  }
  .blog-detail .related-blog-text h3 span {
    margin-right: 5px;
  }
  .blog-detail .related-blog-text ol {
    padding-left: 20px;
  }
}

/* end of responsive css */

/* ---------------------------------- end of blog detail page css -------------------------------*/

/* ------------------------------------ contact us page css ------------------------------------- */

.contactus-main .map {
  margin-bottom: 2px;
}
.contactus-main .map iframe {
  border: 1px solid #000;
  width: 100%;
  height: 450px;
}

/* responsive css */
@media screen and (max-width: 767px) {
  .contactus-main .map iframe {
    width: 100%;
    height: 200px;
  }
}

/* end of responsive */

/* --------------------------------------- end of contact us page css ------------------------------------ */

.top {
  display: none;
  color: #c61f0c;
  font-size: 30px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.top:hover {
  color: var(--darkest-blue);
}
